.image-card.mdl-card {
	width:100%;
	height: 540px;
	display: inline-flex;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: #CFD8DC;
	
	color: #212121;
	overflow: hidden;
	cursor: pointer;
	outline: 0;
	border-radius: 0;
	-webkit-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

.image-card:hover,
.image-card:active,
.image-card.active,
.image-card:focus,
.image-card:active:focus,
.image-card.active:focus {
   padding: 2%;
   
     border-style: outset;
  border-color: #455A64;
  border-width: 2px;
   
   	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.72), 0 3px 6px rgba(0, 0, 0, 0.72);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.72), 0 3px 6px rgba(0, 0, 0, 0.72);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.72), 0 3px 6px rgba(0, 0, 0, 0.72);
  


}

.mdl-card__media{
  height: 100%;
  position: relative;
}

.no-tabs{
  height: 32px;
}

.mdl-tabs__panel{
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1), 0.3s ease-in-out;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1), 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;  
}

.showTitle{
	font-style: italic;
	margin-bottom: 1%;
	text-align: center;
	font-size: 28px;
	font-weight: 500;
}  

.showDesc{
	padding-left: 2%;
  padding-right: 2%;
  margin-top: 0%;
	
}
.showInfo{
	margin-top:0%;
	margin-bottom: 1%;
	padding-right:5%;
	position: relative;
	padding-left: 4%;
	max-width: 95%;
	text-align: center;
}

#content{
  will-change: display;
  min-width: 100%;
  min-height: 2355px;;
  display: none;
  opacity: .95;
  position: absolute;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1), 0.4s ease-in-out;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1), 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
  padding: 1%;
}

#lidiv, #vibediv, #spdiv, #proofdiv{
  padding-left: 0.8%;
  padding-right: 0.5%;
}

#metadiv, #spindiv, #ibmdiv, #arcdiv{
  padding-right: 0.8%;
  padding-left: 0.5%;
}

.modal {
  will-change: visibility, opacity;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 55%;
  
  position: fixed;
  top: 52px;
  max-height: 94%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1), 0.4s ease-in-out, max-height 2s;
          transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1), 0.4s ease-in-out, max-height 2s;
	-o-transition: all 0.4s ease-in-out, height 2s, width 2s;
}

.modal--active {
  visibility: visible;
  opacity: 1;
}

.modal-card{
  width: 100%;
  position: relative;
}

.mdl-tabs__tab-bar{
  position: relative;
}

.mdl-button--icon{
  position: absolute;
  right: 2px;
}

.mdl-button{
  position: absolute;
  bottom: 0;
  right:0;
  color: #B6B6B6;
}
