body{
	background-color: #8B0000;
	}
	
div{
	margin: 3%;
	background-color: #fbd28d;
    padding-bottom: 40px;
	}
	
p{
	text-align: center;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    color: #583a06;
    font-size: 30pt;
    margin-bottom: 20px;
    width: 60%;
    margin-left: auto;
	margin-right: auto;
	}
	
article{
    width: 60%;
    margin-left: auto;
	margin-right: auto;
    margin-top: 0px;
	background-color:antiquewhite;

	}

#add {
    background-color: #f3a385;
    width: 10%;
}
	
#addTask{
	border: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    
}

td, label, button{
    color:#583a06;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size: 13pt;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section{
    position: relative;
    left: 20%;
}

.med{
    color: #a93e0f;
}

.high{
    color: #8B0000;
}
