body{
	background-color: #8B0000;
	}
	
div{
	margin: 3%;
	background-color: #fbd28d;
    padding-bottom: 40px;
	}
	
p{
	text-align: center;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    color: #583a06;
    font-size: 30pt;
    margin-bottom: 20px;
    width: 90%;
	}
	
section{
    width: 70%;
    margin-left: auto;
	margin-right: auto;
    margin-top: 0px;
	background-color:antiquewhite;

	}
	
#addTask{
	border: none;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

td, label, button{
    color:#583a06;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size: 13pt;
}

button {
    background-color: #f3a385;
}
